@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #0C0B0B;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #D1D1D1;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #D1D1D1;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  gap: 15px;
}

.header__buttons {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.header__price {
  background: #BFD1D6;
  border: 2px solid #0C0B0B;
  border-radius: 40px;
  max-width: 15.625rem;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__acount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.header__sign-in {
  border: 2px solid #0C0B0B;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__sign-up {
  background: #1D6276;
  border: 2px solid #1D6276;
  border-radius: 40px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body {
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.menu__item {
  position: relative;
}

.menu__item::before {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.icon-menu {
  display: none;
}

.no-webp .page__main{
  background: url(../img/main/bg.png) no-repeat center/cover; }

.main__container {
  height: 100vh;
  max-height: 800px;
  min-height: 630px;
}

.main__title {
  font-size: 26px;
  line-height: 1.1666666667;
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
}

.main__search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__search-text {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 66.1%;
  border-radius: 20px;
  overflow: hidden;
}

.main__search-text input {
  background: #BFD1D6;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 14px;
  line-height: 1.1666666667;
  outline: none;
}

.main__search-text button {
  position: absolute;
  top: 0;
  right: 0;
  background: #1D6276;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
}

.main__search-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 29, 8%;
  line-height: 1.1666666667;
  font-size: 14px;
  background: #BFD1D6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 20px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__sub-title {
  font-size: 19px;
  max-width: 540px;
  margin: 0 auto;
  line-height: 1.175;
  text-align: center;
}

.main__sub-title span {
  color: #1D6276;
  font-size: 26px;
  line-height: 1.1714285714;
}

.catalog__container {
  text-align: center;
}

.catalog__catalog-items {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5%;
     -moz-column-gap: 1.5%;
          column-gap: 1.5%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 32%));
}

.catalog__button-show-more {
  padding: 14px 28px;
  border-radius: 65.5871px;
  font-size: 19px;
  line-height: 1.1666666667;
  color: #0C0B0B;
  border: 3px solid #0C0B0B;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.catalog-tab__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.25rem;
  margin-top: 0.9375rem;
}

.catalog-tab__title {
  font-size: 26px;
  color: rgba(12, 11, 11, 0.6);
  padding: 10px 20px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.catalog-tab__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #000;
}

.catalog-tab__title._tab-active {
  color: #0C0B0B;
}

.catalog-tab__title._tab-active::before {
  background: rgb(29, 98, 118);
}

.catalog-items__catalog-item {
  overflow: hidden;
}

.catalog-items__catalog-item img {
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 100%;
}

@media (min-width: 75em) {
  .header__container {
    min-height: 5rem;
  }

  .header__buttons {
    gap: 3.875rem;
  }

  .header__price {
    padding-top: 0.625rem;
  }

  .header__price {
    padding-bottom: 0.625rem;
  }

  .header__price {
    padding-right: 0.9375rem;
  }

  .header__price {
    padding-left: 0.9375rem;
  }

  .header__sign-in {
    padding-top: 0.625rem;
  }

  .header__sign-in {
    padding-bottom: 0.625rem;
  }

  .header__sign-in {
    padding-right: 0.9375rem;
  }

  .header__sign-in {
    padding-left: 0.9375rem;
  }

  .header__sign-up {
    padding-top: 0.625rem;
  }

  .header__sign-up {
    padding-bottom: 0.625rem;
  }

  .header__sign-up {
    padding-right: 0.9375rem;
  }

  .header__sign-up {
    padding-left: 0.9375rem;
  }

  .page__main {
    margin-top: 5rem;
  }

  .main__container {
    padding-top: 7.5rem;
  }

  .main__container {
    padding-bottom: 5.625rem;
  }

  .main__title {
    margin-bottom: 5.4375rem;
  }

  .main__search-block {
    gap: 4.375rem;
  }

  .main__search-block {
    margin-bottom: 6.0625rem;
  }

  .main__search-text input {
    padding-left: 2.5rem;
  }

  .main__search-text button img {
    width: 2rem;
  }

  .main__search-text button img {
    height: 2rem;
  }

  .main__search-text button {
    padding-left: 1.5625rem;
  }

  .main__search-text button {
    padding-top: 0.875rem;
  }

  .main__search-text button {
    padding-right: 0.875rem;
  }

  .main__search-text button {
    padding-bottom: 0.875rem;
  }

  .main__search-image {
    padding-left: 1.5625rem;
  }

  .main__search-image {
    padding-top: 0.875rem;
  }

  .main__search-image {
    padding-right: 0.875rem;
  }

  .main__search-image {
    padding-bottom: 0.875rem;
  }

  .main__search-image {
    gap: 1.875rem;
  }

  .main__search-image img {
    width: 2rem;
  }

  .main__search-image img {
    height: 2rem;
  }

  .page__catalog {
    padding-bottom: 3.125rem;
  }

  .catalog__catalog-items {
    row-gap: 1.5625rem;
  }

  .catalog__button-show-more {
    margin-top: 2.25rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    min-height: 3.75rem;
  }

  .header__buttons {
    gap: 1.375rem;
  }

  .header__price {
    padding-top: 0.5625rem;
  }

  .header__price {
    padding-bottom: 0.5625rem;
  }

  .header__price {
    padding-right: 0.625rem;
  }

  .header__price {
    padding-left: 0.625rem;
  }

  .header__sign-in {
    padding-top: 0.5625rem;
  }

  .header__sign-in {
    padding-bottom: 0.5625rem;
  }

  .header__sign-in {
    padding-right: 0.875rem;
  }

  .header__sign-in {
    padding-left: 0.875rem;
  }

  .header__sign-up {
    padding-top: 0.5625rem;
  }

  .header__sign-up {
    padding-bottom: 0.5625rem;
  }

  .header__sign-up {
    padding-right: 0.875rem;
  }

  .header__sign-up {
    padding-left: 0.875rem;
  }

  .page__main {
    margin-top: 3.75rem;
  }

  .main__container {
    padding-top: 5.625rem;
  }

  .main__container {
    padding-bottom: 4.375rem;
  }

  .main__title {
    margin-bottom: 2.5rem;
  }

  .main__search-block {
    gap: 2.5rem;
  }

  .main__search-block {
    margin-bottom: 2.5rem;
  }

  .main__search-text input {
    padding-left: 1.25rem;
  }

  .main__search-text button img {
    width: 1.75rem;
  }

  .main__search-text button img {
    height: 1.75rem;
  }

  .main__search-text button {
    padding-left: 1.5625rem;
  }

  .main__search-text button {
    padding-top: 0.9375rem;
  }

  .main__search-text button {
    padding-right: 0.9375rem;
  }

  .main__search-text button {
    padding-bottom: 0.9375rem;
  }

  .main__search-image {
    padding-left: 1.5625rem;
  }

  .main__search-image {
    padding-top: 0.9375rem;
  }

  .main__search-image {
    padding-right: 0.9375rem;
  }

  .main__search-image {
    padding-bottom: 0.9375rem;
  }

  .main__search-image {
    gap: 0.9375rem;
  }

  .main__search-image img {
    width: 1.75rem;
  }

  .main__search-image img {
    height: 1.75rem;
  }

  .page__catalog {
    padding-bottom: 1.875rem;
  }

  .catalog__catalog-items {
    row-gap: 0.625rem;
  }

  .catalog__button-show-more {
    margin-top: 1.625rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    z-index: 2;
    overflow: auto;
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 35%;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .menu__body::before {
    z-index: 2;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    content: "";
    top: 0;
    left: -100%;
    position: fixed;
    background: rgb(255, 255, 255);
    width: 35%;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu__body::before {
    height: 3.75rem;
  }

  .menu__body {
    padding-top: 5.625rem;
  }

  .menu__body {
    padding-bottom: 1.875rem;
  }

  .menu__list {
    font-size: 1.625rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__container {
    font-size: 0.9375rem;
  }

  .header__buttons {
    gap: 1.375rem;
  }

  .header__buttons {
    font-size: 1rem;
  }

  .header__price {
    padding-top: 0.625rem;
  }

  .header__price {
    padding-bottom: 0.625rem;
  }

  .header__price {
    padding-right: 0.9375rem;
  }

  .header__price {
    padding-left: 0.9375rem;
  }

  .header__sign-in {
    padding-top: 0.625rem;
  }

  .header__sign-in {
    padding-bottom: 0.625rem;
  }

  .header__sign-in {
    padding-right: 0.9375rem;
  }

  .header__sign-in {
    padding-left: 0.9375rem;
  }

  .header__sign-up {
    padding-top: 0.625rem;
  }

  .header__sign-up {
    padding-bottom: 0.625rem;
  }

  .header__sign-up {
    padding-right: 0.9375rem;
  }

  .header__sign-up {
    padding-left: 0.9375rem;
  }

  .menu__body {
    padding-top: 8.125rem;
  }

  .menu__body {
    padding-right: 2.5rem;
  }

  .menu__body {
    padding-left: 2.5rem;
  }

  .main__container {
    padding-top: 5.625rem;
  }

  .main__container {
    padding-bottom: 5rem;
  }

  .main__title {
    font-size: 1.5rem;
  }

  .main__search-text input {
    padding-left: 1.875rem;
  }

  .main__search-text input {
    font-size: 1.125rem;
  }

  .main__search-text button {
    padding-left: 1.5625rem;
  }

  .main__search-text button {
    padding-top: 0.9375rem;
  }

  .main__search-text button {
    padding-right: 0.9375rem;
  }

  .main__search-text button {
    padding-bottom: 0.9375rem;
  }

  .main__search-image {
    padding-left: 1.5625rem;
  }

  .main__search-image {
    padding-top: 0.9375rem;
  }

  .main__search-image {
    padding-right: 0.9375rem;
  }

  .main__search-image {
    padding-bottom: 0.9375rem;
  }

  .main__sub-title {
    font-size: 1.25rem;
  }

  .main__sub-title span {
    font-size: 1.625rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
  }

  .menu__body::before {
    width: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .main__search-text {
    width: 100%;
  }

  .main__search-image p {
    display: none;
  }
}

@media (max-width: 42.1875em) {
  .catalog__catalog-items {
    -webkit-column-gap: 2%;
       -moz-column-gap: 2%;
            column-gap: 2%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 49%));
  }
}

@media (max-width: 29.99875em) {
  .main__search-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .main__search-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .main__search-image p {
    display: block;
  }

  .catalog-tab__title {
    width: 50%;
    font-size: 19px;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .header__container {
      min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem );
    }
}

@supports not (min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .header__container {
      min-height: calc(3.75rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.375rem , 0.4659090909rem  +  4.5454545455vw , 3.875rem )) {
    .header__buttons {
      gap: clamp( 1.375rem , 0.4659090909rem  +  4.5454545455vw , 3.875rem );
    }
}

@supports not (gap: clamp( 1.375rem , 0.4659090909rem  +  4.5454545455vw , 3.875rem )) {
    .header__buttons {
      gap: calc(1.375rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__price {
      padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem );
    }
}

@supports not (padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__price {
      padding-top: calc(0.5625rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__price {
      padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__price {
      padding-bottom: calc(0.5625rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__price {
      padding-right: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__price {
      padding-right: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__price {
      padding-left: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__price {
      padding-left: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__sign-in {
      padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem );
    }
}

@supports not (padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__sign-in {
      padding-top: calc(0.5625rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__sign-in {
      padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__sign-in {
      padding-bottom: calc(0.5625rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem )) {
    .header__sign-in {
      padding-right: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem )) {
    .header__sign-in {
      padding-right: calc(0.875rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem )) {
    .header__sign-in {
      padding-left: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem )) {
    .header__sign-in {
      padding-left: calc(0.875rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__sign-up {
      padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem );
    }
}

@supports not (padding-top: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__sign-up {
      padding-top: calc(0.5625rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__sign-up {
      padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.5625rem , 0.5397727273rem  +  0.1136363636vw , 0.625rem )) {
    .header__sign-up {
      padding-bottom: calc(0.5625rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem )) {
    .header__sign-up {
      padding-right: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem )) {
    .header__sign-up {
      padding-right: calc(0.875rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem )) {
    .header__sign-up {
      padding-left: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.875rem , 0.8522727273rem  +  0.1136363636vw , 0.9375rem )) {
    .header__sign-up {
      padding-left: calc(0.875rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .page__main {
      margin-top: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem );
    }
}

@supports not (margin-top: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .page__main {
      margin-top: calc(3.75rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 5.625rem , 4.9431818182rem  +  3.4090909091vw , 7.5rem )) {
    .main__container {
      padding-top: clamp( 5.625rem , 4.9431818182rem  +  3.4090909091vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 4.9431818182rem  +  3.4090909091vw , 7.5rem )) {
    .main__container {
      padding-top: calc(5.625rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem )) {
    .main__container {
      padding-bottom: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem )) {
    .main__container {
      padding-bottom: calc(4.375rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.4318181818rem  +  5.3409090909vw , 5.4375rem )) {
    .main__title {
      margin-bottom: clamp( 2.5rem , 1.4318181818rem  +  5.3409090909vw , 5.4375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4318181818rem  +  5.3409090909vw , 5.4375rem )) {
    .main__title {
      margin-bottom: calc(2.5rem + 2.9375 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .main__search-block {
      gap: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem );
    }
}

@supports not (gap: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .main__search-block {
      gap: calc(2.5rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.2045454545rem  +  6.4772727273vw , 6.0625rem )) {
    .main__search-block {
      margin-bottom: clamp( 2.5rem , 1.2045454545rem  +  6.4772727273vw , 6.0625rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.2045454545rem  +  6.4772727273vw , 6.0625rem )) {
    .main__search-block {
      margin-bottom: calc(2.5rem + 3.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .main__search-text input {
      padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .main__search-text input {
      padding-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem )) {
    .main__search-text button img {
      width: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem );
    }
}

@supports not (width: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem )) {
    .main__search-text button img {
      width: calc(1.75rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem )) {
    .main__search-text button img {
      height: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem );
    }
}

@supports not (height: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem )) {
    .main__search-text button img {
      height: calc(1.75rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .main__search-text button {
      padding-left: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .main__search-text button {
      padding-left: calc(1.5625rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-text button {
      padding-top: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-text button {
      padding-top: calc(0.9375rem + -0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-text button {
      padding-right: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-text button {
      padding-right: calc(0.9375rem + -0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-text button {
      padding-bottom: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-text button {
      padding-bottom: calc(0.9375rem + -0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .main__search-image {
      padding-left: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .main__search-image {
      padding-left: calc(1.5625rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-image {
      padding-top: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-image {
      padding-top: calc(0.9375rem + -0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-image {
      padding-right: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-image {
      padding-right: calc(0.9375rem + -0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-image {
      padding-bottom: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.9602272727rem  +  -0.1136363636vw , 0.9375rem )) {
    .main__search-image {
      padding-bottom: calc(0.9375rem + -0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .main__search-image {
      gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .main__search-image {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem )) {
    .main__search-image img {
      width: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem );
    }
}

@supports not (width: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem )) {
    .main__search-image img {
      width: calc(1.75rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem )) {
    .main__search-image img {
      height: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem );
    }
}

@supports not (height: clamp( 1.75rem , 1.6590909091rem  +  0.4545454545vw , 2rem )) {
    .main__search-image img {
      height: calc(1.75rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .page__catalog {
      padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .page__catalog {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (row-gap: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .catalog__catalog-items {
      row-gap: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .catalog__catalog-items {
      row-gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 1.625rem , 1.3977272727rem  +  1.1363636364vw , 2.25rem )) {
    .catalog__button-show-more {
      margin-top: clamp( 1.625rem , 1.3977272727rem  +  1.1363636364vw , 2.25rem );
    }
}

@supports not (margin-top: clamp( 1.625rem , 1.3977272727rem  +  1.1363636364vw , 2.25rem )) {
    .catalog__button-show-more {
      margin-top: calc(1.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 75em) {
  .header__container {
    font-size: 1.25rem;
  }

  .header__buttons {
    gap: 5.125rem;
  }

  .header__buttons {
    font-size: 1.25rem;
  }

  .header__price {
    padding-top: 0.9375rem;
  }

  .header__price {
    padding-bottom: 0.9375rem;
  }

  .header__price {
    padding-right: 1.25rem;
  }

  .header__price {
    padding-left: 1.25rem;
  }

  .header__sign-in {
    padding-top: 0.9375rem;
  }

  .header__sign-in {
    padding-bottom: 0.9375rem;
  }

  .header__sign-in {
    padding-right: 1.25rem;
  }

  .header__sign-in {
    padding-left: 1.25rem;
  }

  .header__sign-up {
    padding-top: 0.9375rem;
  }

  .header__sign-up {
    padding-bottom: 0.9375rem;
  }

  .header__sign-up {
    padding-right: 1.25rem;
  }

  .header__sign-up {
    padding-left: 1.25rem;
  }

  .menu__body {
    padding-top: 9.375rem;
  }

  .menu__body {
    padding-right: 3.75rem;
  }

  .menu__body {
    padding-left: 3.75rem;
  }

  .main__container {
    padding-top: 12.5rem;
  }

  .main__container {
    padding-bottom: 7.9375rem;
  }

  .main__title {
    font-size: 3.75rem;
  }

  .main__search-text input {
    padding-left: 4.375rem;
  }

  .main__search-text input {
    font-size: 1.875rem;
  }

  .main__search-text button {
    padding-left: 2.1875rem;
  }

  .main__search-text button {
    padding-top: 1.5rem;
  }

  .main__search-text button {
    padding-right: 1.5rem;
  }

  .main__search-text button {
    padding-bottom: 1.5rem;
  }

  .main__search-image {
    padding-left: 2.1875rem;
  }

  .main__search-image {
    padding-top: 1.5rem;
  }

  .main__search-image {
    padding-right: 1.5rem;
  }

  .main__search-image {
    padding-bottom: 1.5rem;
  }

  .main__sub-title {
    font-size: 2.5rem;
  }

  .main__sub-title span {
    font-size: 4.375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__container {
      font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__container {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.375rem , 0.0113636364rem  +  6.8181818182vw , 5.125rem )) {
    .header__buttons {
      gap: clamp( 1.375rem , 0.0113636364rem  +  6.8181818182vw , 5.125rem );
    }
}

@supports not (gap: clamp( 1.375rem , 0.0113636364rem  +  6.8181818182vw , 5.125rem )) {
    .header__buttons {
      gap: calc(1.375rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .header__buttons {
      font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .header__buttons {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__price {
      padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__price {
      padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__price {
      padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__price {
      padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__price {
      padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__price {
      padding-right: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__price {
      padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__price {
      padding-left: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__sign-in {
      padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__sign-in {
      padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__sign-in {
      padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__sign-in {
      padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__sign-in {
      padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__sign-in {
      padding-right: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__sign-in {
      padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__sign-in {
      padding-left: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__sign-up {
      padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__sign-up {
      padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__sign-up {
      padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .header__sign-up {
      padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__sign-up {
      padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__sign-up {
      padding-right: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__sign-up {
      padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .header__sign-up {
      padding-left: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 8.125rem , 7.6704545455rem  +  2.2727272727vw , 9.375rem )) {
    .menu__body {
      padding-top: clamp( 8.125rem , 7.6704545455rem  +  2.2727272727vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 8.125rem , 7.6704545455rem  +  2.2727272727vw , 9.375rem )) {
    .menu__body {
      padding-top: calc(8.125rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .menu__body {
      padding-right: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .menu__body {
      padding-right: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .menu__body {
      padding-left: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .menu__body {
      padding-left: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 5.625rem , 3.125rem  +  12.5vw , 12.5rem )) {
    .main__container {
      padding-top: clamp( 5.625rem , 3.125rem  +  12.5vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 3.125rem  +  12.5vw , 12.5rem )) {
    .main__container {
      padding-top: calc(5.625rem + 6.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 5rem , 3.9318181818rem  +  5.3409090909vw , 7.9375rem )) {
    .main__container {
      padding-bottom: clamp( 5rem , 3.9318181818rem  +  5.3409090909vw , 7.9375rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 3.9318181818rem  +  5.3409090909vw , 7.9375rem )) {
    .main__container {
      padding-bottom: calc(5rem + 2.9375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 0.6818181818rem  +  4.0909090909vw , 3.75rem )) {
    .main__title {
      font-size: clamp( 1.5rem , 0.6818181818rem  +  4.0909090909vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.6818181818rem  +  4.0909090909vw , 3.75rem )) {
    .main__title {
      font-size: calc(1.5rem + 2.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .main__search-text input {
      padding-left: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .main__search-text input {
      padding-left: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem )) {
    .main__search-text input {
      font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem )) {
    .main__search-text input {
      font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .main__search-text button {
      padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .main__search-text button {
      padding-left: calc(1.5625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-text button {
      padding-top: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-text button {
      padding-top: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-text button {
      padding-right: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-text button {
      padding-right: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-text button {
      padding-bottom: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-text button {
      padding-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .main__search-image {
      padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .main__search-image {
      padding-left: calc(1.5625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-image {
      padding-top: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-image {
      padding-top: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-image {
      padding-right: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-image {
      padding-right: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-image {
      padding-bottom: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7329545455rem  +  1.0227272727vw , 1.5rem )) {
    .main__search-image {
      padding-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .main__sub-title {
      font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .main__sub-title {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.625rem , 0.625rem  +  5vw , 4.375rem )) {
    .main__sub-title span {
      font-size: clamp( 1.625rem , 0.625rem  +  5vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 0.625rem  +  5vw , 4.375rem )) {
    .main__sub-title span {
      font-size: calc(1.625rem + 2.75 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 75em) {
  .menu__body::before {
    height: 5rem;
  }

  .menu__body {
    padding-top: 9.375rem;
  }

  .menu__body {
    padding-bottom: 3.125rem;
  }

  .menu__list {
    font-size: 2rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .menu__body::before {
      height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem );
    }
}

@supports not (height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .menu__body::before {
      height: calc(3.75rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 5.625rem , 4.2613636364rem  +  6.8181818182vw , 9.375rem )) {
    .menu__body {
      padding-top: clamp( 5.625rem , 4.2613636364rem  +  6.8181818182vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 4.2613636364rem  +  6.8181818182vw , 9.375rem )) {
    .menu__body {
      padding-top: calc(5.625rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .menu__body {
      padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .menu__body {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.625rem , 1.4886363636rem  +  0.6818181818vw , 2rem )) {
    .menu__list {
      font-size: clamp( 1.625rem , 1.4886363636rem  +  0.6818181818vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.4886363636rem  +  0.6818181818vw , 2rem )) {
    .menu__list {
      font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .header__price:hover {
    background: #9bd3e2;
  }

  .header__sign-in:hover {
    background: #1D6276;
    color: #fff;
    border: 2px solid #1D6276;
  }

  .header__sign-up:hover {
    background: rgba(29, 99, 118, 0);
    color: #000;
  }

  .menu__item:hover {
    color: #000;
  }

  .menu__item:hover::before {
    width: 100%;
  }

  .main__search-text button:hover {
    background: #0d495a;
  }

  .main__search-image:hover {
    background: #9bd3e2;
  }

  .catalog__button-show-more:hover {
    background: #1D6276;
    color: #fff;
    border: 3px solid #1D6276;
  }

  .catalog-tab__title:hover {
    color: #0C0B0B;
  }

  .catalog-tab__title:hover::before {
    background: rgb(29, 98, 118);
  }

  .catalog-items__catalog-item img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .page__main{ background: url(../img/main/bg.webp) no-repeat center/cover; }